h1 { font-size: 50px;
    color: green;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 40px;
}

body { background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8f/FullColourGIF.gif");
	background-position: center top;
	margin: 30px;
	text-shadow: 0 2px #000000;
	text-align: center;
	background-size: 100% 100%;
	
}

p {
  font-size: 40px;
  margin: 30px;
  text-shadow: 0 2px #000000;
	text-align: center;
}

span {
  font-size: 30px;
  font-family: Arial;
  margin: 30px;
  text-shadow: 0 2px #000000;
	text-align: center;
}

img {
  height: 250px;
  width: 400px;
  margin: 30px;
  text-shadow: 0 2px #000000;
	text-align: center;
}


li { color:black;
  font-size:40px;
    margin: 30px;
    text-shadow: 0 2px #000000;
	text-align: center;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

ol { font-size: 35px;
  	margin: 30px;
    color:  #800080;
    text-shadow: 0 2px #000000;
	text-align: center;
}

td:hover {background-color: #00ff55;
}

td {
  font-size: 40px;
  margin: 30px;
  text-shadow: 0 2px #000000;
	text-align: center;
}

tr:hover {background-color: #00aaff;
}


tr {
  font-size: 40px;
  margin: 30px;
  text-shadow: 0 2px #000000;
	text-align: center;
}

table:hover {
  background-color: #00e6b8;
}

table {
  margin: -10px;
  text-shadow: 0 2px #000000;
	text-align: right;
}

/*break*/

a {
  color: black;
}

ul {
   font-size:25px;
  height: 300px;
    margin: auto;
    text-align: center;
    width:120px;
    border-color: #6495ED;
    border-radius: 5px;
    background-color:#BCD2EE;
}


/* Change the link color on hover */
li:hover {
    background-color: #555;
    color: white;
}

img {
  height: 350px;
  width: 350px;
}

div {
  text-align: left;
  margin: 0px;
  
}